---
---
@import url('https://unpkg.com/primer/build/build.css');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');
@import 'highlight-syntax';

@font-face {
  font-family: 'Colfax';
  src: url(/assets/fonts/Colfax-Light.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Colfax';
  src: url(/assets/fonts/Colfax-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Colfax';
  src: url(/assets/fonts/Colfax-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Colfax';
  src: url(/assets/fonts/Colfax-Bold.woff) format('woff');
  font-weight: 700;
}

body {
  font-family: 'Colfax' !important;
}

// my-6 no bottom
.my-6-nobottom {
  margin-top: 40px !important;
}

.py-6-notop-lowbottom {
  margin-bottom: 20px !important;
}

// White background
div.bg-gray-light {
  background: #ffffff !important;
}

a {
  color: #000000 !important;
}

img {
  max-width: 100%;
  margin: auto;
  display: block; 
  height: auto;
  border-radius: 8px;
}

// Full width image
img[alt="Atlas"] { 
  width: 100%; 
}

/* Large screen */
@media only screen  and (min-width : 1024px) {
  img[alt="Kepler's Second Law"] { 
    width: 55%; 
  }
}

img[alt="Apollo 8 Max-q"] { 
  margin-top: 20px;
  margin-bottom: 20px; 
}

video {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.circle {
  display: inline !important;
}

.section-head {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500 !important;
}

.f00-light {
  font-size: 2em !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
  font-weight: 500 !important;
  padding-bottom: 5px;
}

div p.mb-5 {
  margin-bottom: 15px !important;
}

h1.myname {
  font-size: 1.5em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500 !important;
}

.repocard-title {
  font-weight: 400 !important;
}

.black-link {
  color: #000000 !important;
}

.upcase {
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
  font-weight: 400 !important;
}

.plainlink {
  text-decoration: none;
}

.plainlink:hover {
  text-decoration: none;
}

.boldtext {
  font-weight: 600;
}

.talltext {
  font-size: 1.3em !important;
}

.mediumtext {
  color: #586069;
  font-size: 1.1em !important;
}

// Border outline for resume span
.outline {
  border: solid #586069 1px;
}

.outline:hover {
  color: #ffffff;
  background: #586069;
  border: solid #586069 1px;
}

// Code block
div.highlight {
  margin-top: 16px;
  margin-bottom: 12px;
}

code,
pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

pre {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: 1em;
	margin-bottom: 10px;
	overflow-x: auto;
	vertical-align: text-bottom;
}

code {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: .2em .4em;
	font-size: 80%;
}

pre code {
	background: transparent;
	border: 0;
	padding: 0;
	font-size: 80%;
}

.repo-language-color {
	filter: brightness(125%) !important;
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	position: relative;
	top: 2px;
	width: 12px;
}

// Style for caption
img + em { 
	display: block;
	color: #555;
	font-size: 0.85em;
	text-align: center;
	margin-top: 6px;
}

a + em {
	display: block; 
	color: #555;
	font-size: 0.85em;
	text-align: center;
	margin-top: 6px;
}

// Indent and style lists
ol, ul {
  margin-left: 30px;
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  margin-bottom: 5px;
}

ul.list-style-none {
  padding-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; 
}

// Object tag
object {
  pointer-events: none;
}

// Table
table {
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; 
}
  
table tr th {
  font-weight: 500;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; 
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; 
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0; 
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0; 
}

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: 'Colfax'
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4 {
    margin-bottom: 8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  strong {
    font-weight: 500;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
  }
}

.MathJax_CHTML { 
  font-size: 15pt !important; 
}

// Navbar
.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.bg-light {
  background-color: #f8f9fa !important;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
  color: #fff;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #fff;
}

.bg-dark {
  background-color: #000000 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important;
}

// Nav title
.navtitle {
  font-size: 1.5em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

// Right align nav
.rightnav {
  text-align: right;
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.photoicon {
  margin-right: 25px;
}